body {
  background-color: #FFFFFF;
}

#main {
  background-color: #FFFFFF;
  margin: auto;
  width: 720px;
  font-family: 'Poor Story', 'Comic Sans MS', cursive;
}

@keyframes title {
  50% {color: #FFFFFF;}
}

#title {
  margin: auto;
  font-size: 2em;
  color: #fc9cd8;
  background-color: #FFFFFF;
  text-align: center;
  animation-name: title;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#img-div {
  background-color: #fc9cd8;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

#img-heading {
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
#img-caption {
}

@keyframes ready {
  100% {
    color: #fc9cd8;
    background-color: #FFFFFF;
    text-align: center;
    opacity: 0.8;
  }
}
#img-div {
  animation-name: ready;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#content {
  font-size: 20px;
  color: #0930bd;
  display: grid;
  grid-template-columns: 100%;
}

#content a {
  color: #fc9cd8;
}

#content2 {
  text-align: left;
}

#placeholder {
  height: 100px;
}


#footer {
  text-align: center;
  background-color: #fc9cd8;
}

#footer a {
  color: #FFFFFF;
}

ul {
  list-style: none;
}

a {
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

li:hover {
  font-weight: bold;
  color: #fc9cd8;
  cursor: default;
}

